<!-- stories.html -->
<!DOCTYPE html>
<html>

<head>
    <!-- Importar as dependências do Bootstrap e outros estilos -->
    <!-- ... -->
</head>

<body>
    <div class="container">
        <h1>Histórias Disponíveis:</h1>
        {% for story in stories %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ story.title }}</h5>
                <p class="card-text">{{ story.description }}</p>
                <a href="#" class="btn btn-primary" onclick="joinStory({{ story.id }})">Entrar na História</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        function joinStory(storyId) {
            console.log(`Joining story ${storyId}...`);
            const socket = new WebSocket(`ws://${window.location.host}/ws/stories/${storyId}/`);

            socket.onopen = function (event) {
                console.log('WebSocket connection opened.');

                const data = {
                    'action': 'join',
                    'character_id': '1',
                    'story_id': storyId
                };

                socket.send(JSON.stringify(data));

                window.location.href = `/stories/${storyId}/`;
            };

            socket.onmessage = function (event) {
                const data = JSON.parse(event.data);
                // Manipular os dados recebidos do servidor (informações de personagens e pessoas conectadas)
                console.log(data);
            };

            socket.onclose = function (event) {
                console.log('WebSocket connection closed.');
            };
        }
    </script>
</body>

</html>